


html 
{font-family: 'Montserrat', sans-serif;
font-size: '14px';
background-color:#1a5276;}
}
/*Just learning how to use css comments.*/

header. section. footer. aside. nav. main. article. figure. figcaption {
	display: block;
}

body {
  background-color: #2471a3;
  background-position:center;
  margin:0px;
  } 
  
.wrapper {
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right:auto;
    background-color: #2471a3;
    padding: 0 20px 20px 20px;
    border: 5px inset #999999;
  } 
 
#horizontal-nav {
	border: inset #999999;
	padding: 20px;
	length:500;
}

<! Below is styling of button boxes, etc>

  
#search {
	padding:20px;
}


  

 h1 {
	margin:0;
	padding: 20px 0px;
	color:black;
	text-shadow: 5px 5px 7px  #2d2d86;
}

  img {
	  padding: 0px;
	  border: 7px inset #999999;
	
  }
  .figcaption {
	  font-weight:bold;
  }
  

 article {
	 float:left;
	 clear:both;
	 overflow:auto;
	 width: 50%;
 }
  

  

p {
	color:white;
}
  
  
 aside{
	
	 float:right;
	 padding:0px 0px 0px 20px;
	 margin: 0px 0px 0px 10px;

 }
 
 aside section a{
   display:block;
  text-decoration: none;
  font-size: 15px;
  }
  
  
  #bottom-contact-link {
	float:right;
	align:center;
	
	  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  



	
